//	MISC
midnightblue           = #000033
newmidnightblue        = #00009C
blue2                  = #0000EE
pinegreen              = #003300
cichlid                = #003EFF
sign-blue              = #003F87
dumpster               = #004F00
celtics                = #00611C
starbucks              = #006633
deepskyblue4           = #00688B
sign-green             = #006B54
slateblue              = #007FFF
turquoise4             = #00868B
green4                 = #008B00
springgreen4           = #008B45
irish-flag             = #009900
skyblue5               = #0099CC
deepskyblue3           = #009ACD
truegreen              = #00AF33
deepskyblue2           = #00B2EE
turquoise3             = #00C5CD
turquoiseblue          = #00C78C
emeraldgreen           = #00C957
green3                 = #00CD00
springgreen3           = #00CD66
cyan3                  = #00CDCD
turquoise2             = #00E5EE
green2                 = #00EE00
springgreen2           = #00EE76
cyan2                  = #00EEEE
turquoise1             = #00F5FF
springgreen            = #00FF33
neonavocado            = #00FF66
seagreen               = #00FFAA
light-teal             = #00FFCC
ty-nant                = #0147FA
topaz                  = #0198E1
mouthwash              = #01C5BB
picasso-blue           = #0276FD
gray1                  = #030303
manganeseblue          = #03A89E
gray2                  = #050505
cerulean               = #05B8CC
indiglo                = #05E9FF
teal-LED               = #05EDFF
sea-green              = #068481
gray3                  = #080808
gray4                  = #0A0A0A
permanentgreen         = #0AC92B
police-strobe          = #0BB5FF
gray5                  = #0D0D0D
bankers-lamp           = #0E8C3A
diamond-blue           = #0EBFE9
gray6                  = #0F0F0F
turquoise              = #0FDDAF
dodgerblue4            = #104E8B
malachite              = #108070
ultramarine            = #120A8F
gray7                  = #121212
garden-hose            = #138F6A
gray8                  = #141414
ulysses-butterfly      = #1464F4
gray9                  = #171717
masters-jacket         = #174038
dodgerblue3            = #1874CD
gray10                 = #1A1A1A
alaska-sky             = #1B3F8B
6-ball                 = #1B6453
gray11                 = #1C1C1C
dodgerblue2            = #1C86EE
peafowl                = #1D7CF2
bottle-green           = #1DA237
gray12                 = #1F1F1F
emerald-city           = #20BF9F
gray13                 = #212121
packer-green           = #213D30
huntergreen            = #215E21
indigo2                = #218868
delft                  = #22316C
navyblue               = #23238E
steelblue              = #236B8E
seagreen               = #238E68
gray14                 = #242424
gray15                 = #262626
blue-spider            = #26466D
royalblue4             = #27408B
pabst-blue             = #283A90
cooler                 = #284942
emeraldgreen2          = #28AE7B
ivoryblack             = #292421
gray16                 = #292929
atlantic-green         = #2A8E82
gray17                 = #2B2B2B
blue-angels            = #2B4F81
st-louis-blues         = #2C5197
cucumber               = #2C5D3F
indigo                 = #2E0854
gray18                 = #2E2E2E
stained-glass          = #2E37FE
lampblack              = #2E473B
park-bench             = #2E6444
midnightblue           = #2F2F4F
darkgreen              = #2F4F2F
aquarium               = #2FAA96
presidential-blue      = #302B54
gray19                 = #303030
mailbox                = #3063A5
sapgreen               = #308014
pool-table             = #31B94D
mediumblue             = #3232CC
mediumblue             = #3232CD
limerind               = #324F17
liz-eyes               = #325C74
green-line             = #329555
skyblue6               = #3299CC
mediumaquamarine2      = #32CC99
mediumaquamarine3      = #32CD99
darkcherryred          = #330000
cornflower             = #3300FF
gray20                 = #333333
royalblue              = #3333FF
old-money              = #337147
peacock                = #33A1C9
blue-line              = #33A1DE
parrotgreen            = #33FF33
blue-corn              = #344152
octopus                = #34925E
army-uniform           = #353F3E
pacific-blue           = #35586C
parrot                 = #3579DC
gray21                 = #363636
steelblue4             = #36648B
pacific-green          = #36DBCA
aquaman                = #37BC61
metallic-mint          = #37FDFC
blue-deep              = #380474
gray22                 = #383838
terreverte             = #385E0F
sgiteal                = #388E8E
summersky              = #38B0DE
green-pepper           = #397D02
nypd-blue              = #39B7CD
blue-train             = #3A5894
royalblue3             = #3A5FCD
circuit-board          = #3A6629
big-blue-bus           = #3A66A7
dress-blue             = #3B3178
gray23                 = #3B3B3B
blue-grapes            = #3B4990
romaine-lettuce        = #3B5323
olive3b                = #3B5E2B
greek-roof             = #3B6AA0
blue-green-algae       = #3B8471
gray24                 = #3D3D3D
wet-moss               = #3D5229
cobalt                 = #3D59AB
obsidian               = #3D5B43
green-lantern          = #3D8B37
cobaltgreen            = #3D9140
green-party            = #3E6B4F
mediterranean          = #3E766D
green-gables           = #3E766D
ooze                   = #3E7A5E
clover                 = #3EA055
douglas-fir            = #3F602B
green-taxi             = #3F9E4D
gray25                 = #404040
shamrock               = #40664D
gray26                 = #424242
cornflowerblue         = #42426F
blue-jeans             = #42526C
isle-royale-greenstone = #426352
blue-whale             = #42647F
mediumseagreen         = #426F42
caribbean              = #42C0FB
spinach                = #435D36
royalblue2             = #436EEE
denim                  = #4372AA
seagreen3              = #43CD80
go                     = #43D58C
gray27                 = #454545
green-agate            = #457371
chartreuse4            = #458B00
aquamarine4            = #458B74
natural-turquoise      = #45C3B8
od-green               = #46523C
slateblue4             = #473C8B
gray28                 = #474747
noble-fir              = #476A34
park-ranger            = #484D46
scotland-pound         = #487153
royalblue1             = #4876FF
holly                  = #488214
blue-bird              = #4973AB
blue-ridge-mtns        = #4981CE
blue-bucket            = #499DF5
Nerf-green             = #49E20E
electric-turquoise     = #49E9BD
gray29                 = #4A4A4A
kakapo                 = #4A7023
skyblue4               = #4A708B
darkgreencopper        = #4A766E
fenway-monster         = #4A777A
wales                  = #4AC948
green-MnM              = #4BB74C
bluegrass              = #4C7064
blue-lagoon            = #4CB7A5
kelly                  = #4CBB17
gray30                 = #4D4D4D
neonblue               = #4D4DFF
fraser-fir             = #4D6B50
pollock-blue           = #4D6FAC
lake-ontario           = #4D71A3
green-visor            = #4D7865
grass                  = #4DBD33
aquamarine             = #4E78A0
seagreen2              = #4EEE94
violet                 = #4F2F4F
darkolivegreen         = #4F4F2F
gray31                 = #4F4F4F
green-scrubs           = #4F8E83
steelblue3             = #4F94CD
lake-superior          = #506987
blue-stone             = #50729F
LCD-dark               = #507786
lake-michigan          = #50A6C2
malta-blue             = #517693
blue-pill              = #5190ED
gray32                 = #525252
blue-dog               = #525C65
fenway-grass           = #526F35
greencopper            = #527F76
darkslategray4         = #528B8B
cadetblue4             = #53868B
carolina-blue          = #539DC2
grape                  = #543948
palegreen4             = #548B54
seagreen1              = #54FF9F
burntsienna            = #551011
deeppurple             = #551033
purple4                = #551A8B
gray33                 = #555555
leaf                   = #55AE3A
forestgreen2           = #567E3A
gray34                 = #575757
blue-corn-chips        = #584E56
broccoli               = #586949
gray35                 = #595959
richblue               = #5959AB
snake                  = #596C56
green-bark             = #597368
chemical-suit          = #5993E5
lizard                 = #5A6351
curacao                = #5B59BA
natural-gas            = #5B90F6
emerald                = #5B9C64
ultramarineviolet      = #5C246E
bakerschocolate        = #5C3317
verydarkbrown          = #5C4033
gray36                 = #5C5C5C
steelblue2             = #5CACEE
mediumpurple4          = #5D478B
lake-huron             = #5D7B93
greenstamp             = #5D9160
blue-sponge            = #5D92B1
green-LED              = #5DFC0A
vandykebrown           = #5E2605
sepia                  = #5E2612
gray37                 = #5E5E5E
fresh-green            = #5EDA9E
tea-leaves             = #5F755E
cadetblue              = #5F9F9F
sign-brown             = #603311
lightskyblue4          = #607B8B
fishermans-float       = #607C6E
palm                   = #608341
la-maison-bleue        = #60AFFE
tank                   = #615E3F
gray38                 = #616161
lake-erie              = #6183A6
cinnabargreen          = #61B329
green-apple            = #629632
tropical-blue          = #62B1F6
gray39                 = #636363
cactus                 = #636F57
green-algae            = #63AB62
steelblue1             = #63B8FF
surf                   = #63D1F4
seaweed                = #646F5E
lindsay-eyes           = #65909A
tree-moss              = #659D32
bloodred               = #660000
blue-safe              = #6600FF
concord-grape          = #660198
gray40                 = #666666
cobalt                 = #6666FF
chromeoxidegreen       = #668014
paleturquoise4         = #668B8B
green-ash              = #668E86
aqua                   = #66CCCC
chartreuse3            = #66CD00
wasabi                 = #66FF66
neon-blue              = #67C8FF
swimming-pool          = #67E6EC
darkorchid4            = #68228B
sea-urchin             = #683A5E
blue-tuna              = #687C97
pond-scum              = #687E5A
lightblue4             = #68838B
england-pound          = #688571
maroon5                = #691F01
purple-rain            = #694489
slateblue3             = #6959CD
olivedrab4             = #698B22
darkseagreen4          = #698B69
blue-shark             = #6996AD
putting                = #699864
green-hornet           = #6A8455
darkslateblue          = #6B238E
semisweet-chocolate1   = #6B4226
gray42                 = #6B6B6B
slategray4             = #6C7B8B
skyblue3               = #6CA6CD
neptune                = #6D9BF1
gray43                 = #6E6E6E
lightsteelblue4        = #6E7B8B
darkolivegreen4        = #6E8B3D
viridianlight          = #6EFF70
salmon5                = #6F4242
dolphin                = #6F7285
gray44                 = #707070
darkturquoise          = #7093DB
aquamarine             = #70DB93
mediumturquoise        = #70DBDB
garden-plum            = #71637D
sgislate-blue          = #7171C6
sgichartreuse          = #71C671
indigo-tile            = #72587F
deepochre              = #733D1A
rawumber               = #734A12
gray45                 = #737373
seurat-blue            = #739AC5
old-copper             = #73B1B7
seaweed-roll           = #748269
blue-ice               = #74BBFB
lavender-field         = #754C78
gray46                 = #757575
blue-fern              = #759B84
blueberry              = #75A1D0
chartreuse2            = #76EE00
aquamarine2            = #76EEC6
ganegreen              = #777733
green-goo              = #77896C
gray47                 = #787878
pumice                 = #78A489
pea                    = #78AB46
pea                    = #79973F
Coke-bottle            = #79A888
darkslategray3         = #79CDCD
mediumorchid4          = #7A378B
slateblue2             = #7A67EE
gray48                 = #7A7A7A
lightcyan4             = #7A8B8B
cat-eye                = #7AA9DD
cadetblue3             = #7AC5CD
cinnamon               = #7B3F00
green-moth             = #7BBF6A
night-vision           = #7BCC70
palegreen3             = #7CCD7C
purple3                = #7D26CD
gray49                 = #7D7D7D
blue-nile              = #7D7F94
sgilightblue           = #7D9EC0
forget-me-nots         = #7EB6FF
skyblue2               = #7EC0EE
mediumslateblue2       = #7F00FF
gray50                 = #7F7F7F
flight-jacket          = #7F8778
kiwi                   = #7F9A65
brown                  = #802A2A
warmgrey               = #808069
coldgrey               = #808A87
eggplant               = #816687
wild-violet            = #820BBB
gray51                 = #828282
blue-mist              = #82CFFD
slateblue1             = #836FFF
honeydew4              = #838B83
azure4                 = #838B8B
nikko-blue             = #838EDE
neon-green             = #83F52C
lightslateblue         = #8470FF
frog                   = #84BE6A
darkwood               = #855E42
dustyrose              = #856363
gray52                 = #858585
plum-pudding           = #862A51
100-euro               = #86C67C
darkpurple             = #871F78
raspberry              = #872657
brownochre             = #87421F
gray53                 = #878787
skyblue1               = #87CEFF
blue-cow               = #88ACE0
mediumpurple3          = #8968CD
burntumber             = #8A3324
burntsienna            = #8A360F
gray54                 = #8A8A8A
green-quartz           = #8AA37B
deeppink4              = #8B0A50
firebrick4             = #8B1A1A
maroon4                = #8B1C62
violetred4             = #8B2252
brown4                 = #8B2323
orangered4             = #8B2500
tomato4                = #8B3626
indianred4             = #8B3A3A
hotpink4               = #8B3A62
coral4                 = #8B3E2F
darkorange4            = #8B4500
sienna4                = #8B4726
palevioletred4         = #8B475D
orchid4                = #8B4789
salmon4                = #8B4C39
lightsalmon4           = #8B5742
orange4                = #8B5A00
tan4                   = #8B5A2B
lightpink4             = #8B5F65
pink4                  = #8B636C
darkgoldenrod4         = #8B6508
plum4                  = #8B668B
goldenrod4             = #8B6914
rosybrown4             = #8B6969
burlywood4             = #8B7355
gold4                  = #8B7500
peachpuff4             = #8B7765
navajowhite4           = #8B795E
thistle4               = #8B7B8B
bisque4                = #8B7D6B
mistyrose4             = #8B7D7B
wheat4                 = #8B7E66
light-goldenrod4       = #8B814C
antiquewhite4          = #8B8378
lavenderblush4         = #8B8386
khaki4                 = #8B864E
seashell4              = #8B8682
cornsilk4              = #8B8878
lemonchiffon4          = #8B8970
snow4                  = #8B8989
yellow4                = #8B8B00
lightyellow4           = #8B8B7A
ivory4                 = #8B8B83
martini-olive          = #8BA446
soylent-green          = #8BA870
scarlet                = #8C1717
bronze                 = #8C7853
gray55                 = #8C8C8C
green-soap             = #8CDD81
lightskyblue3          = #8DB6CD
darkslategray2         = #8DEEEE
firebrick5             = #8E2323
maroon6                = #8E236B
sgibeet                = #8E388E
sienna                 = #8E6B23
sgiolivedrab           = #8E8E38
cadetblue2             = #8EE5EE
violet                 = #8F5E99
gray56                 = #8F8F8F
lightsteelblue         = #8F8FBC
green-cheese           = #8FA880
lightblue              = #8FD8D8
cool-mint              = #90FEFB
cobaltvioletdeep       = #91219E
purple2                = #912CEE
gray57                 = #919191
LCD-back               = #91B49C
pastel-green           = #92CCA6
greenyellow            = #93DB70
gray58                 = #949494
marsorange             = #964514
gray59                 = #969696
eton-blue              = #96C8A2
paleturquoise3         = #96CDCD
darktan                = #97694F
darkslategray1         = #97FFFF
avocado                = #98A148
cadetblue1             = #98F5FF
truepurple             = #990099
bordeaux               = #99182C
darkorchid             = #9932CD
chocolate              = #993300
gray60                 = #999999
yellowgreen2           = #99CC32
wavecrest              = #99CDC9
darkorchid3            = #9A32CD
lightblue3             = #9AC0CD
palegreen1             = #9AFF9A
purple1                = #9B30FF
cerulean-blue          = #9BC4E2
darkseagreen3          = #9BCD9B
brick                  = #9C661F
purple-ink             = #9C6B98
gray61                 = #9C9C9C
cantaloupe             = #9CA998
jolly-green            = #9CCB19
amethyst               = #9D6B84
canvas                 = #9D8851
camo3                  = #9DB68C
burgundy               = #9E0508
gray62                 = #9E9E9E
blueviolet             = #9F5F9F
mediumpurple2          = #9F79EE
khaki                  = #9F9F5F
slategray3             = #9FB6CD
purple                 = #A020F0
gray63                 = #A1A1A1
smyrna-purple          = #A2627A
lightsteelblue3        = #A2B5CD
kermit                 = #A2BC13
avacado                = #A2C257
sweet-potato-vine      = #A2C93A
darkolivegreen3        = #A2CD5A
beige-dark             = #A39480
gray64                 = #A3A3A3
20-pound               = #A46582
lightskyblue2          = #A4D3EE
liberty                = #A4DCD1
bunny-eye              = #A5435C
brown                  = #A62A2A
bronzeii               = #A67D3D
mediumwood             = #A68064
gray65                 = #A6A6A6
guacamole              = #A6D785
turnip                 = #A74CAB
sandstone              = #A78D84
gray66                 = #A8A8A8
aluminum               = #A9ACB6
camo2                  = #A9C9A4
purple6                = #AA00FF
coffee                 = #AA5303
cinnamon               = #AA6600
sgilightgray           = #AAAAAA
periwinkle             = #AAAAFF
goldgreen              = #AADD00
mediumpurple1          = #AB82FF
gray67                 = #ABABAB
organic-tea            = #AC7F24
gray68                 = #ADADAD
turquoise              = #ADEAEA
wasabi-sauce           = #AEBB51
paleturquoise2         = #AEEEEE
sign-red               = #AF1E2D
cola                   = #AF4035
indianred              = #B0171F
maroonb0               = #B03060
gray69                 = #B0B0B0
lightskyblue1          = #B0E2FF
kidney-bean            = #B13E0F
darkorchid2            = #B23AEE
purple-fish            = #B272A6
shamrock-shake         = #B2D0B4
lightblue2             = #B2DFEE
gray70                 = #B3B3B3
key-lime-pie           = #B3C95A
olivedrab2             = #B3EE3A
mediumorchid3          = #B452CD
lightcyan3             = #B4CDCD
vanilla-mint           = #B4D7BF
darkseagreen2          = #B4EEB4
thistle                = #B5509C
brass                  = #B5A642
gray71                 = #B5B5B5
harolds-crayon         = #B62084
cranberry              = #B6316C
titanium               = #B6AFA9
brushed-aluminum       = #B6C5BE
heather-blue           = #B7C3D0
new-20-dollar-bill     = #B7C8B6
copper                 = #B87333
gray72                 = #B8B8B8
slategray2             = #B9D3EE
gray73                 = #BABABA
paleturquoise1         = #BBFFFF
lightsteelblue2        = #BCD2EE
chartreuse-verte       = #BCE937
green-mist             = #BCED91
darkolivegreen2        = #BCEE68
gray74                 = #BDBDBD
mint-green             = #BDFCC9
gray                   = #BEBEBE
cat-eye                = #BEE554
darkorchid1            = #BF3EFF
violet-flower          = #BF5FFF
gray75                 = #BFBFBF
lightblue1             = #BFEFFF
lichen                 = #C0D9AF
lightblue              = #C0D9D9
olivedrab1             = #C0FF3E
honeydew3              = #C1CDC1
azure3                 = #C1CDCD
pastel-blue            = #C1F0F6
darkseagreen1          = #C1FFC1
gray76                 = #C2C2C2
robins-egg             = #C3E4ED
gray77                 = #C4C4C4
sgibrightgray          = #C5C1AA
mint-ice-cream         = #C5E3BF
sgisalmon              = #C67171
ash                    = #C6C3B5
slategray1             = #C6E2FF
chili-powder           = #C73F17
rawsienna              = #C76114
goldochre              = #C77826
gray78                 = #C7C7C7
ruby-red               = #C82536
safety-vest            = #C8F526
gray79                 = #C9C9C9
lightsteelblue1        = #CAE1FF
darkolivegreen1        = #CAFF70
fog                    = #CBCAB6
grape                  = #CC00FF
bloodorange            = #CC1100
orange                 = #CC3232
violetred              = #CC3299
apple                  = #CC4E5C
ochre                  = #CC7722
gold5                  = #CC7F32
lavender               = #CC99CC
ralphyellow            = #CCCC00
gray80                 = #CCCCCC
offwhiteblue           = #CCCCFF
offwhitegreen          = #CCFFCC
red3                   = #CD0000
magenta3               = #CD00CD
deeppink3              = #CD1076
firebrick3             = #CD2626
maroon3                = #CD2990
violetred3             = #CD3278
brown3                 = #CD3333
orangered3             = #CD3700
tomato3                = #CD4F39
indianred3             = #CD5555
coral3                 = #CD5B45
hotpink3               = #CD6090
darkorange3            = #CD6600
chocolate3             = #CD661D
sienna3                = #CD6839
palevioletred3         = #CD6889
orchid3                = #CD69C9
salmon3                = #CD7054
gold6                  = #CD7F32
lightsalmon3           = #CD8162
orange3                = #CD8500
lightpink3             = #CD8C95
pink3                  = #CD919E
darkgoldenrod3         = #CD950C
plum3                  = #CD96CD
goldenrod3             = #CD9B1D
rosybrown3             = #CD9B9B
burlywood3             = #CDAA7D
gold3                  = #CDAD00
peachpuff3             = #CDAF95
navajowhite3           = #CDB38B
thistle3               = #CDB5CD
bisque3                = #CDB79E
mistyrose3             = #CDB7B5
wheat3                 = #CDBA96
light-goldenrod3       = #CDBE70
antiquewhite3          = #CDC0B0
lavenderblush3         = #CDC1C5
seashell3              = #CDC5BF
khaki3                 = #CDC673
cornsilk3              = #CDC8B1
lemonchiffon3          = #CDC9A5
snow3                  = #CDC9C9
yellow3                = #CDCD00
lightyellow3           = #CDCDB4
ivory3                 = #CDCDC1
verylightgrey          = #CDCDCD
fire-truck-green       = #CDD704
iceberg-lettuce        = #CDE472
green-grape            = #CECC15
oldgold                = #CFB53B
gray81                 = #CFCFCF
celery                 = #CFD784
camo1                  = #CFDBC5
violetred              = #D02090
conch                  = #D0A9AA
battleship             = #D0D2C4
mediumorchid2          = #D15FEE
feldspar               = #D19275
gray82                 = #D1D1D1
pear                   = #D1E231
lightcyan2             = #D1EEEE
pink-glass             = #D3BECF
venetianred            = #D41A1F
barney                 = #D4318C
englishred             = #D43D1A
chili                  = #D44942
gray83                 = #D4D4D4
limepulp               = #D4ED91
gray84                 = #D6D6D6
wheat                  = #D8D8BF
cool-copper            = #D98719
brightgold             = #D9D919
gray85                 = #D9D9D9
quartz                 = #D9D9F3
blue-ice               = #DAF4F0
permanent-redviolet    = #DB2645
brownmadder            = #DB2929
orchid                 = #DB70DB
tan                    = #DB9370
ham                    = #DB9EA6
goldenrod              = #DBDB70
gray86                 = #DBDBDB
moon                   = #DBE6E0
mint-blue              = #DBFEF8
sign-orange            = #DD7500
carnation              = #DE85B1
gray87                 = #DEDEDE
melonrindgreen         = #DFFFA5
pink-jeep              = #E0427F
mediumorchid1          = #E066FF
stainless-steel        = #E0DFDB
gray88                 = #E0E0E0
honeydew2              = #E0EEE0
azure2                 = #E0EEEE
cream-city-brick       = #E2DDB5
geraniumlake           = #E31230
cadmiumreddeep         = #E3170D
alizarincrimson        = #E32636
madderlakedeep         = #E32E30
rosemadder             = #E33638
hematite               = #E35152
marsyellow             = #E3701A
yellowochre            = #E38217
melon                  = #E3A869
banana                 = #E3CF57
gray89                 = #E3E3E3
mandarianorange        = #E47833
gray90                 = #E5E5E5
semisweet-chocolate2   = #E6B426
silver                 = #E6E8FA
tongue                 = #E79EA9
espresso               = #E7C6A5
dark-wheat             = #E8C782
gray91                 = #E8E8E8
chrome                 = #E8F1D4
lightwood              = #E9C2A6
plum2                  = #EAADEA
mediumgoldenrod        = #EAEAAE
cherry                 = #EB5E66
newtan                 = #EBC79E
gray92                 = #EBEBEB
piglet-snout           = #ECC3BF
corfu-pink             = #ECC8EC
carrot                 = #ED9121
light-copper           = #EDC393
gray93                 = #EDEDED
red2                   = #EE0000
magenta2               = #EE00EE
deeppink2              = #EE1289
firebrick2             = #EE2C2C
maroon2                = #EE30A7
violetred2             = #EE3A8C
brown2                 = #EE3B3B
orangered2             = #EE4000
tomato2                = #EE5C42
indianred2             = #EE6363
coral2                 = #EE6A50
hotpink2               = #EE6AA7
darkorange2            = #EE7600
chocolate2             = #EE7621
sienna2                = #EE7942
palevioletred2         = #EE799F
orchid2                = #EE7AE9
salmon2                = #EE8262
tan                    = #EE8833
lightsalmon2           = #EE9572
orange2                = #EE9A00
tan2                   = #EE9A49
lightpink2             = #EEA2AD
pink2                  = #EEA9B8
darkgoldenrod2         = #EEAD0E
plum2                  = #EEAEEE
goldenrod2             = #EEB422
rosybrown2             = #EEB4B4
burlywood2             = #EEC591
gold2                  = #EEC900
peachpuff2             = #EECBAD
navajowhite2           = #EECFA1
thistle2               = #EED2EE
bisque2                = #EED5B7
mistyrose2             = #EED5D2
beach-sand             = #EED6AF
wheat2                 = #EED8AE
lightgoldenrod2        = #EEDC82
lightgoldenrod         = #EEDD82
antiquewhite2          = #EEDFCC
lavenderblush2         = #EEE0E5
seashell2              = #EEE5DE
khaki2                 = #EEE685
cornsilk2              = #EEE8CD
lemonchiffon2          = #EEE9BF
snow2                  = #EEE9E9
yellow2                = #EEEE00
lightyellow2           = #EEEED1
ivory2                 = #EEEEE0
pyridiumorange         = #F0A804
gray94                 = #F0F0F0
gray95                 = #F2F2F2
grapefruit             = #F3E88E
cranberry-jello        = #F54D70
dog-tongue             = #F6A4D5
pink-cloud             = #F6A8B6
bermuda-sand           = #F6C9CC
pink-shell             = #F6CCDA
cotton-candy           = #F7B3DA
gray97                 = #F7F7F7
gray98                 = #FAFAFA
apricot                = #FBA16C
corn                   = #FBEC5D
packer-gold            = #FCB514
sign-yellow            = #FCD116
bread                  = #FCD59C
eggshell               = #FCE6C9
gray99                 = #FCFCFC
titaniumwhite          = #FCFFF0
zincwhite              = #FDF8FF
honey                  = #FEE5AC
desert-sand            = #FEE8D6
peach                  = #FEF0DB
buttermilk             = #FEF1B5
bright-red             = #FF0033
broadwaypink           = #FF0066
orangered              = #FF007F
fuchsia2               = #FF00AA
rose                   = #FF00CC
cadmiumredlight        = #FF030D
spicypink              = #FF1CAE
orangered              = #FF2400
firebrick1             = #FF3030
nectarine              = #FF3300
novascotia-salmon      = #FF3333
maroon1                = #FF34B3
greenishumber          = #FF3D0D
violetred1             = #FF3E96
brown1                 = #FF4040
safety-cone            = #FF5333
fleshochre             = #FF5721
cadmiumorange          = #FF6103
orange                 = #FF6600
seattle-salmon         = #FF6666
indianred1             = #FF6A6A
hotpink1               = #FF6EB4
neonpink               = #FF6EC7
coral1                 = #FF7256
oregon-salmon          = #FF7722
orange5                = #FF7D40
darkorange1            = #FF7F00
chocolate1             = #FF7F24
orange                 = #FF8000
sienna1                = #FF8247
palevioletred1         = #FF82AB
orchid1                = #FF83FA
darkorange5            = #FF8600
salmon1                = #FF8C69
bubble-gum             = #FF92BB
cadmiumyellow          = #FF9912
peach                  = #FF9955
tan1                   = #FFA54F
naplesyellowdeep       = #FFA812
aureolineyellow        = #FFA824
gold7                  = #FFAA00
peachpuff              = #FFADB9
lightpink1             = #FFAEB9
cadmium-yellowlight    = #FFB00F
pink1                  = #FFB5C5
darkgoldenrod1         = #FFB90F
plum1                  = #FFBBFF
goldenrod1             = #FFC125
rosybrown1             = #FFC1C1
cheddar                = #FFC469
mustard                = #FFCC11
sand                   = #FFCC99
flatpink               = #FFCCCC
burlywood1             = #FFD39B
thistle1               = #FFE1FF
cadmiumlemon           = #FFE303
yolk                   = #FFE600
wheat1                 = #FFE7BA
light-goldenrod1       = #FFEC8B
antiquewhite1          = #FFEFDB
khaki1                 = #FFF68F
coconut                = #FFFCCF	
papaya                 = #FFFF7E
popcornyellow          = #FFFFAA
bone                   = #FFFFCC

//	X11
aliceblue            = rgb(240, 248, 255)
antiquewhite         = rgb(250, 235, 215)
aquamarine           = rgb(127, 255, 212)
azure                = rgb(240, 255, 255)
beige                = rgb(245, 245, 220)
bisque               = rgb(255, 228, 196)
blanchedalmond       = rgb(255, 235, 205)
blueviolet           = rgb(138, 43, 226)
brown                = rgb(165, 42, 42)
burlywood            = rgb(222, 184, 135)
cadetblue            = rgb(95, 158, 160)
chartreuse           = rgb(127, 255, 0)
chocolate            = rgb(210, 105, 30)
coral                = rgb(255, 127, 80)
cornflowerblue       = rgb(100, 149, 237)
cornsilk             = rgb(255, 248, 220)
crimson              = rgb(220, 20, 60)
cyan                 = rgb(0, 255, 255)
darkblue             = rgb(0, 0, 139)
darkcyan             = rgb(0, 139, 139)
darkgoldenrod        = rgb(184, 132, 11)
darkgray             = rgb(169, 169, 169)
darkgreen            = rgb(0, 100, 0)
darkgrey             = rgb(169, 169, 169)
darkkhaki            = rgb(189, 183, 107)
darkmagenta          = rgb(139, 0, 139)
darkolivegreen       = rgb(85, 107, 47)
darkorange           = rgb(255, 140, 0)
darkorchid           = rgb(153, 50, 204)
darkred              = rgb(139, 0, 0)
darksalmon           = rgb(233, 150, 122)
darkseagreen         = rgb(143, 188, 143)
darkslateblue        = rgb(72, 61, 139)
darkslategray        = rgb(47, 79, 79)
darkslategrey        = rgb(47, 79, 79)
darkturquoise        = rgb(0, 206, 209)
darkviolet           = rgb(148, 0, 211)
deeppink             = rgb(255, 20, 147)
deepskyblue          = rgb(0, 191, 255)
dimgray              = rgb(105, 105, 105)
dimgrey              = rgb(105, 105, 105)
dodgerblue           = rgb(30, 144, 255)
firebrick            = rgb(178, 34, 34)
floralwhite          = rgb(255, 255, 240)
forestgreen          = rgb(34, 139, 34)
gainsboro            = rgb(220, 220, 220)
ghostwhite           = rgb(248, 248, 255)
gold                 = rgb(255, 215, 0)
goldenrod            = rgb(218, 165, 32)
greenyellow          = rgb(173, 255, 47)
grey                 = rgb(128, 128, 128)
honeydew             = rgb(240, 255, 240)
hotpink              = rgb(255, 105, 180)
indianred            = rgb(205, 92, 92)
indigo               = rgb(75, 0, 130)
ivory                = rgb(255, 255, 240)
khaki                = rgb(240, 230, 140)
lavender             = rgb(230, 230, 250)
lavenderblush        = rgb(255, 240, 245)
lawngreen            = rgb(124, 252, 0)
lemonchiffon         = rgb(255, 250, 205)
lightblue            = rgb(173, 216, 230)
lightcoral           = rgb(240, 128, 128)
lightcyan            = rgb(224, 255, 255)
lightgoldenrodyellow = rgb(250, 250, 210)
lightgray            = rgb(211, 211, 211)
lightgreen           = rgb(144, 238, 144)
lightgrey            = rgb(211, 211, 211)
lightpink            = rgb(255, 182, 193)
lightsalmon          = rgb(255, 160, 122)
lightseagreen        = rgb(32, 178, 170)
lightskyblue         = rgb(135, 206, 250)
lightslategray       = rgb(119, 136, 153)
lightslategrey       = rgb(119, 136, 153)
lightsteelblue       = rgb(176, 196, 222)
lightyellow          = rgb(255, 255, 224)
limegreen            = rgb(50, 205, 50)
linen                = rgb(250, 240, 230)
magenta              = rgb(255, 0, 255)
mediumaquamarine     = rgb(102, 205, 170)
mediumblue           = rgb(0, 0, 205)
mediumorchid         = rgb(186, 85, 211)
mediumpurple         = rgb(147, 112, 219)
mediumseagreen       = rgb(60, 179, 113)
mediumslateblue      = rgb(123, 104, 238)
mediumspringgreen    = rgb(0, 250, 154)
mediumturquoise      = rgb(72, 209, 204)
mediumvioletred      = rgb(199, 21, 133)
midnightblue         = rgb(25, 25, 112)
mintcream            = rgb(245, 255, 250)
mistyrose            = rgb(255, 228, 225)
moccasin             = rgb(255, 228, 181)
navajowhite          = rgb(255, 222, 173)
oldlace              = rgb(253, 245, 230)
olivedrab            = rgb(107, 142, 35)
orangered            = rgb(255, 69, 0)
orchid               = rgb(218, 112, 214)
palegoldenrod        = rgb(238, 232, 170)
palegreen            = rgb(152, 251, 152)
paleturquoise        = rgb(175, 238, 238)
palevioletred        = rgb(219, 112, 147)
papayawhip           = rgb(255, 239, 213)
peachpuff            = rgb(255, 218, 185)
peru                 = rgb(205, 133, 63)
pink                 = rgb(255, 192, 203)
plum                 = rgb(221, 160, 203)
powderblue           = rgb(176, 224, 230)
rosybrown            = rgb(188, 143, 143)
royalblue            = rgb(65, 105, 225)
saddlebrown          = rgb(139, 69, 19)
salmon               = rgb(250, 128, 114)
sandybrown           = rgb(244, 164, 96)
seagreen             = rgb(46, 139, 87)
seashell             = rgb(255, 245, 238)
sienna               = rgb(160, 82, 45)
skyblue              = rgb(135, 206, 235)
slateblue            = rgb(106, 90, 205)
slategray            = rgb(119, 128, 144)
slategrey            = rgb(119, 128, 144)
snow                 = rgb(255, 255, 250)
springgreen          = rgb(0, 255, 127)
steelblue            = rgb(70, 130, 180)
tan                  = rgb(210, 180, 140)
thistle              = rgb(216, 191, 216)
tomato               = rgb(255, 99, 71)
turquoise            = rgb(64, 224, 208)
violet               = rgb(238, 130, 238)
wheat                = rgb(245, 222, 179)
whitesmoke           = rgb(245, 245, 245)
yellowgreen          = rgb(154, 205, 5)

//	W3C
white   = rgb(255, 255, 255)
silver  = rgb(192, 192, 192)
gray    = rgb(128, 128, 128)
grey    = rgb(128, 128, 128)
black   = rgb(0, 0, 0)
red     = rgb(255, 0, 0)
maroon  = rgb(128, 0, 0)
orange  = rgb(255, 165, 0)
yellow  = rgb(255, 255, 0)
olive   = rgb(128, 128, 0)
lime    = rgb(0, 255, 0)
green   = rgb(0, 128, 0)
aqua    = rgb(0, 255, 255)
teal    = rgb(0, 128, 128)
blue    = rgb(0, 0, 255)
navy    = rgb(0, 0, 128)
fuchsia = rgb(255, 0, 255)
purple  = rgb(128, 0, 128)